
{{#each scrapers}}


  <h1>{{this.name}}</h1>
  <p>  {{this.url}}</p> 
  <p>  {{this.extract_method}}</p> 


{{/each}}

<div>
  <h1>ALL WORKING PROXIES</h1>
  <p> WORKING PROXIES: {{len all_working_proxies}}</p>
  <table>
    <thead>
      <td> CATEGORY </td>
      <td> ADDR </td>
      <td> CHECKED </td>
      <td> LAST CHECK </td>
      <td> LAST LAG </td>
      <td> LAST SCRAPED </td>
      <td> ACCEPTED </td>
      <td> LAST REMOTE IP </td>
    </thead>
  <tbody>
    {{#each all_working_proxies}}
      <tr>
        <td>       {{this.category}}    </td>
        <td>       {{this.addr}}    </td>
        <td>       {{this.checked}}    </td>
        <td>       {{this.last_check}}    </td>
        <td>       {{this.last_lag}}    </td>
        <td>       {{this.last_scraped}}    </td>
        <td>       {{this.accepted}}    </td>
        <td>       {{this.last_remote_ip}}    </td>
        
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

<div>
  <h1>ALL BROKEN PROXIES</h1>
  <p> BROKEN PROXIES: {{len all_broken_proxies}}</p>
  <table>
    <thead>
      <td> CATEGORY </td>
      <td> ADDR </td>
      <td> CHECKED </td>
      <td> LAST CHECK </td>
      <td> LAST LAG </td>
      <td> LAST SCRAPED </td>
      <td> ACCEPTED </td>
      <td> LAST REMOTE IP </td>
      <td> LAST_CHECK_ERROR </td>
    </thead>
  <tbody>
    {{#each all_broken_proxies}}
      <tr>
        <td>       {{this.category}}    </td>
        <td>       {{this.addr}}    </td>
        <td>       {{this.checked}}    </td>
        <td>       {{this.last_check}}    </td>
        <td>       {{this.last_lag}}    </td>
        <td>       {{this.last_scraped}}    </td>
        <td>       {{this.accepted}}    </td>
        <td>       {{this.last_remote_ip}}    </td>
        <td>       {{this.last_check_error}}    </td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

<div>
  <h1> STATISTICS COUNTERS</h1>
  <table>
    <thead>
      <td> db_key </td>
      <td> item_a </td>
      <td> item_b </td>
      <td> counter </td>
    </thead>
  <tbody>
    {{#each stat_counters}}
      <tr>
        <td>       {{this.0}}    </td>
        <td>       {{this.1}}    </td>
        <td>       {{this.2}}    </td>
        <td>       {{this.3}}    </td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>







