<div>
  <h1>READY FETCH QUEUE ({{len fetch_queue_ready}})</h1>
  <table>
    <thead>
      <td> URL </td>
      <td> PATH </td>
      <td> SOCKS5 </td>
      <td> ADDED </td>
    </thead>
    <tbody>
    {{#each fetch_queue_ready}}
      <tr>
        <td> {{this.0.url}}  </td>
        <td> {{this.0.path}} </td>
        <td> {{this.0.socks5_proxy}}  </td>
        <td> {{this.1}}  </td>
      </tr> 
    {{/each}} 
    </tbody>
  </table>
       
  <h1>DONE FETCH QUEUE ({{len fetch_queue_done}})</h1>
    <table>
    <thead>
      <td> SUCCESS </td>
      <td> ERR TXT </td>
      <td> URL </td>
      <td> PATH </td>
      <td> SOCKS5 </td>
    </thead>
    <tbody>
    {{#each fetch_queue_done}}
      <tr>
        <td> {{this.1.is_ok}}  </td>
        <td> {{this.1.err_txt}}  </td>
        <td> {{this.0.url}}  </td>
        <td> {{this.0.path}} </td>
        <td> {{this.0.socks5_proxy}}  </td>
      </tr> 
    {{/each}} 
    </tbody>
  </table>
</div>


<div>
  <h1> ALL PROXY SCRAPER SOURCES </h1>
  {{#each scrapers}}
    <h1>{{this.0.name}}</h1>
    <p>  {{this.0.url}}</p> 
    <p>  {{this.0.extract_method}}</p> 

    {{#each this.1}}
      <p>
        {{this.0}}: {{this.1}}
      </p>
    {{/each}}

  {{/each}}
</div>

<div>
  <h1>ALL WORKING PROXIES</h1>
  <p> WORKING PROXIES: {{len all_working_proxies}}</p>
  <table>
    <thead>
      <td> CATEGORY </td>
      <td> ADDR </td>
      <td> CHECKED </td>
      <td> LAST LAG </td>
      <td> ACCEPTED </td>
      <td> LAST REMOTE IP </td>

      <td> failed_checks </td>
      <td> last_success_count </td>
      <td> last_err_count </td>
      <td> created_at </td>
      <td> LAST CHECK </td>
      <td> LAST SCRAPED </td>
    </thead>
  <tbody>
    {{#each all_working_proxies}}
      <tr>
        <td>       {{this.category}}    </td>
        <td>       {{this.addr}}    </td>
        <td>       {{this.checked}}    </td>
        <td>       {{this.last_lag}}    </td>
        <td>       {{this.accepted}}    </td>
        <td>       {{this.last_remote_ip}}    </td>

        <td>       {{this.failed_checks}}    </td>
        <td>       {{this.last_success_count}}    </td>
        <td>       {{this.last_err_count}}    </td>
        <td>       {{this.created_at}}    </td>
        <td>       {{this.last_check}}    </td>
        <td>       {{this.last_scraped}}    </td>
        
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

<div>
  <h1>ALL BROKEN PROXIES</h1>
  <p> BROKEN PROXIES: {{len all_broken_proxies}}</p>
  <table>
    <thead>
      <td> CATEGORY </td>
      <td> ADDR </td>
      <td> CHECKED </td>
      <td> LAST LAG </td>
      <td> ACCEPTED </td>
      <td> LAST REMOTE IP </td>
      <td> LAST_CHECK_ERROR </td>

      <td> failed_checks </td>
      <td> last_success_count </td>
      <td> last_err_count </td>
      <td> created_at </td>
      <td> LAST CHECK </td>
      <td> LAST SCRAPED </td>
    </thead>
  <tbody>
    {{#each all_broken_proxies}}
      <tr>
        <td>       {{this.category}}    </td>
        <td>       {{this.addr}}    </td>
        <td>       {{this.checked}}    </td>
        <td>       {{this.last_lag}}    </td>
        <td>       {{this.accepted}}    </td>
        <td>       {{this.last_remote_ip}}    </td>
        <td>       {{this.last_check_error}}    </td>


        <td>       {{this.failed_checks}}    </td>
        <td>       {{this.last_success_count}}    </td>
        <td>       {{this.last_err_count}}    </td>
        <td>       {{this.created_at}}    </td>
        <td>       {{this.last_check}}    </td>
        <td>       {{this.last_scraped}}    </td>

      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

<div>
  <h1> ALL STATISTICS COUNTERS</h1>
  <table>
    <thead>
      <td> type </td>
      <td> item_a </td>
      <td> item_b </td>
      <td> event </td>
      <td> counter </td>
    </thead>
  <tbody>
    {{#each stat_counters}}
      <tr>
        <td>       {{this.0.stat_type}}    </td>
        <td>       {{this.0.item_a}}    </td>
        <td>       {{this.0.item_b}}    </td>
        <td>       {{this.1}}    </td>
        <td>       {{this.2}}    </td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>







